<p id="notice"><%= notice %></p>

<p>
  <b>Number:</b>
  <%= @property.number %>
</p>

<p>
  <b>Unit:</b>
  <%= @property.unit %>
</p>

<p>
  <b>Address:</b>
  <%= @property.address %>
</p>

<p>
  <b>Address2:</b>
  <%= @property.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @property.city %>
</p>

<p>
  <b>State:</b>
  <%= @property.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @property.zip %>
</p>

<p>
  <b>Rooms:</b>
  <%= @property.rooms %>
</p>

<p>
  <b>Bathrooms:</b>
  <%= @property.bathrooms %>
</p>

<p>
  <b>Sqft:</b>
  <%= @property.sqft %>
</p>

<p>
  <b>Lot:</b>
  <%= @property.lot %>
</p>

<p>
  <b>Description:</b>
  <%= @property.description %>
</p>

<p>
  <b>Price:</b>
  <%= @property.price %>
</p>

<p>
  <b>Banner:</b>
  <%= @property.banner %>
</p>


<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Back', properties_path %>
